:root {
  --ds-width-reading: 46rem;
  --ds-width-2xl: 42rem;
  --ds-width-3xl: 48rem;
  --ds-width-4xl: 56rem;
  --ds-width-wide: 64rem;
  --ds-width-cover: 74rem;
  --ds-width-7xl: 80rem;
  --ds-width-full-bleed: 100%;
  --ds-width-margin-insight: 14rem;
  --ds-min-viewport: 20rem;

  --ds-breakpoint-sm: 40rem;
  --ds-breakpoint-md: 48rem;
  --ds-breakpoint-lg: 64rem;
  --ds-breakpoint-xl: 80rem;
  --ges-breakpoint-lg-editorial: 60rem;
  --ges-breakpoint-xl-editorial: 74rem;
}
